# jwt
JWT_SECRET=your_super_secret_jwt_key

# database
DATABASE_URL="file:./dev.db"

#ip da api
# IP_API="172.20.10.2:8080"
IP_API="10.0.0.9:8080"

EMAIL_USER="email que irá enviar códigos de recuperação de senha"
EMAIL_PASSWORD="senha do email (google account app password)"